@model BanKeKhaiNhapHoc.Models.DanhSachLop

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc muốn xóa mục này?</h3>
<div>
    <h4>DanhSachLop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HocVien)
        </dt>
        <dd class="col-sm-10">
            @(Model.HocVien?.HoTen ?? "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class="col-sm-10">
            @(Model.LopHoc?.TenLop ?? "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @(Model.TrangThai ?? "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>
        <dd class="col-sm-10">
            @(Model.NgayDangKy?.ToString("dd/MM/yyyy") ?? "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </dt>
        <dd class="col-sm-10">
            @(Model.NgayDuyet?.ToString("dd/MM/yyyy") ?? "N/A")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
